In [40]:
import pandas as pd
import os

In [41]:


path= os.getcwd().split('/')
i=path.index('Alignment-of-schema-only-and-instance-only-data')
folder_path= "/".join(path[:i+1])

llama=pd.read_csv(folder_path+"/Results_Experiments/llama_results/llama_with_time.csv")
gpt=pd.read_csv(folder_path+"/Results_Experiments/GPT_results/gpt_with_time.csv")

## GPT

In [42]:
avg_execution_time = pd.DataFrame(gpt.groupby("Model")["Execution_Time"].mean().sort_values())
avg_execution_time

                                        Execution_Time
Model
sentence-transformers/all-MiniLM-L6-v2       68.769699
distilbert-base-uncased                     104.649515
albert-base-v2                              150.718493
bert-base-uncased                           151.935367
roberta-base                                174.824698
gpt                                         181.505214
facebook/bart-base                          432.639128

In [43]:
avg_execution_time = pd.DataFrame(gpt.groupby("Category")["Execution_Time"].mean().sort_values())
avg_execution_time

          Execution_Time
Category
Magellan      116.595704
TPC-DI        139.836139
ChEMBL        212.889537
Wikidata      704.902380

In [44]:
gpt[(gpt.Category=="Magellan") & ((gpt.models=="gpt"))][["Dataset Name","Execution_Time"]]

           Dataset Name  Execution_Time
1989      fodors_zagats       56.497546
2014  beeradvo_ratebeer       21.076996
2021           dblp_acm       25.953537
2059     walmart_amazon       41.601119
2096       dblp_scholar       37.537664
2176      itunes_amazon      149.951336
2191  amazon_google_exp       13.255035

## Llama

In [45]:
avg_execution_time = pd.DataFrame(llama.groupby("Model")["Execution_Time"].mean().sort_values())
avg_execution_time

                                        Execution_Time
Model
sentence-transformers/all-MiniLM-L6-v2       68.769699
distilbert-base-uncased                     104.649515
bert-base-uncased                           151.935367
albert-base-v2                              155.890903
roberta-base                                176.372909
gpt                                         181.505214
facebook/bart-base                          432.639128

In [46]:
avg_execution_time = pd.DataFrame(llama.groupby("Category")["Execution_Time"].mean().sort_values())
avg_execution_time

          Execution_Time
Category
Magellan      116.595704
TPC-DI        139.996878
ChEMBL        212.982757
Wikidata      753.644535

In [47]:
llama.Execution_Time.mean(),gpt.Execution_Time.mean()

(181.69884782541297, 180.73185886256684)