In [25]:
import pandas as pd
import os

In [26]:


path= os.getcwd().split('/')
i=path.index('Alignment-of-schema-only-and-instance-only-data')
folder_path= "/".join(path[:i+1])

llama=pd.read_csv(folder_path+"/Results_Experiments/llama_results/llama_with_time.csv")
gpt=pd.read_csv(folder_path+"/Results_Experiments/GPT_results/gpt_with_time.csv")

## GPT

In [30]:
avg_execution_time = pd.DataFrame(gpt.groupby("Model")["Execution_Time"].mean().sort_values()).round(2)
avg_execution_time

                                        Execution_Time
Model
sentence-transformers/all-MiniLM-L6-v2           68.77
distilbert-base-uncased                         104.65
albert-base-v2                                  150.72
bert-base-uncased                               151.94
roberta-base                                    174.82
gpt                                             181.51
facebook/bart-base                              432.64

In [31]:
avg_execution_time = pd.DataFrame(gpt.groupby("Category")["Execution_Time"].mean().sort_values()).round(2)
avg_execution_time

          Execution_Time
Category
Magellan          116.60
TPC-DI            139.84
ChEMBL            212.89
Wikidata          704.90

In [32]:
gpt[(gpt.Category=="Magellan") & ((gpt.Model=="gpt"))][["Dataset Name","Execution_Time"]].round(2)

           Dataset Name  Execution_Time
1292  amazon_google_exp           13.26
1299           dblp_acm           25.95
1306     walmart_amazon           41.60
1313       dblp_scholar           37.54
1320  beeradvo_ratebeer           21.08
1327      itunes_amazon          149.95
1334      fodors_zagats           56.50

## Llama

In [33]:
avg_execution_time = pd.DataFrame(llama.groupby("Model")["Execution_Time"].mean().sort_values()).round(2)
avg_execution_time

                                        Execution_Time
Model
sentence-transformers/all-MiniLM-L6-v2           65.67
albert-base-v2                                   82.11
gpt                                             101.80
distilbert-base-uncased                         107.82
bert-base-uncased                               166.94
roberta-base                                    177.49
facebook/bart-base                              305.62

In [34]:
avg_execution_time = pd.DataFrame(llama.groupby("Category")["Execution_Time"].mean().sort_values()).round(2)
avg_execution_time

          Execution_Time
Category
Magellan           76.75
ChEMBL            128.34
TPC-DI            144.89
Wikidata          930.10

In [35]:
llama[(llama.Category=="Magellan") & ((llama.Model=="gpt"))][["Dataset","Execution_Time"]].round(3)

                Dataset  Execution_Time
1284  amazon_google_exp          15.941
1291           dblp_acm          29.282
1298     walmart_amazon          35.869
1305       dblp_scholar          29.729
1312      fodors_zagats          52.370
1319  beeradvo_ratebeer          23.605
1326      itunes_amazon         124.150

In [36]:
llama.Execution_Time.mean(),gpt.Execution_Time.mean()

(np.float64(143.78542717393398), np.float64(180.73185886256684))