In [18]:
import pandas as pd
import os

In [19]:
path= os.getcwd().split('/')
i=path.index('Alignment-of-schema-only-and-instance-only-data')
folder_path= "/".join(path[:i+1])
gpt=pd.read_csv(folder_path + "/tests/outputs/All_results_gpt.csv")
gpt.head()

,Model,Category,Dataset Name,noise,models,Relation Type,Relation_binaire,Source 1 Attribute Count,Source 2 Attribute Count,Common Attribute Count,...,F1 Score (Top 20),ngcd_at_20,F1 Score (Top 15),ngcd_at_15,F1 Score (Top 10),ngcd_at_10,F1 Score (Top 7),ngcd_at_7,F1 Score (Top 5),ngcd_at_5
0,bert-base-uncased,ChEMBL,assays_both_0_1_ac1_av,2,bert-base-uncased,View-Unionable,No Semantically,12,12,1,...,0.00,0.50,0.00,0.50,0.0,0.5,0.0,0.5,0.0,0.5
1,bert-base-uncased,ChEMBL,assays_both_0_1_ec_av,1,bert-base-uncased,View-Unionable,No Semantically,12,12,1,...,0.00,0.50,0.00,0.50,0.0,0.5,0.0,0.5,0.0,0.5
2,bert-base-uncased,TPC-DI,prospect_vertical_70_ac2_av,3,bert-base-uncased,Semantically-Joinable,Semantically,18,19,15,...,0.69,0.85,0.80,0.85,NaN,NaN,NaN,NaN,NaN,NaN
3,bert-base-uncased,TPC-DI,prospect_vertical_70_ec_ev,1,bert-base-uncased,Joinable,No Semantically,18,19,15,...,0.66,0.86,0.73,0.82,NaN,NaN,NaN,NaN,NaN,NaN
4,bert-base-uncased,ChEMBL,assays_horizontal_0_ac5_ev,6,bert-base-uncased,Unionable,No Semantically,23,23,23,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [20]:
llama=pd.read_csv(folder_path + "/tests/outputs/All_results_llama.csv")
llama.head()

,Dataset,Model,Category,Relation,models,f1_score,Precision,Recall,Noise_Level,Attributes_Source1,...,Recall.1,Execution_Time,Noise_Level.1,Attributes_Source1.1,Attributes_Source2.1,Common_Attributes.1,pourcentage_commun.1,Relation_binaire.1,F1 Score Median.1,NDCG at Median.1
0,assays_both_0_1_ac1_av,bert-base-uncased,ChEMBL,View-Unionable,bert-base-uncased,0.000000,0.000000,0.000000,2,12.0,...,0.000000,50.178617,2.0,12.0,12.0,1.0,8.0,No Semantically,0.000000,0.000000
1,assays_both_0_1_ec_av,bert-base-uncased,ChEMBL,View-Unionable,bert-base-uncased,0.000000,0.000000,0.000000,1,12.0,...,1.000000,27.614864,1.0,12.0,12.0,1.0,8.0,No Semantically,0.000000,0.000000
2,prospect_vertical_70_ac2_av,bert-base-uncased,TPC-DI,Semantically-Joinable,bert-base-uncased,0.909091,0.833333,1.000000,3,18.0,...,0.666667,327.671434,3.0,18.0,19.0,15.0,81.0,Semantically,0.909091,0.952307
3,prospect_vertical_70_ec_ev,bert-base-uncased,TPC-DI,Joinable,bert-base-uncased,0.787879,0.722222,0.866667,1,18.0,...,0.733333,146.535610,1.0,18.0,19.0,15.0,81.0,No Semantically,0.666667,0.799085
4,assays_horizontal_0_ac5_ev,bert-base-uncased,ChEMBL,Unionable,bert-base-uncased,0.739130,0.739130,0.739130,6,23.0,...,0.652174,182.529163,6.0,23.0,23.0,23.0,100.0,No Semantically,0.695652,0.745178

In [21]:
path_folder= folder_path + "/Results_Experiments/GPT_results"
gpt_execution=pd.DataFrame()
for name in ['ChEMBL','Magellan','TPC-DI','Wikidata']:
    df=pd.read_csv(os.path.join(path_folder,name+".csv"))
    gpt_execution=pd.concat([gpt_execution,df],axis=0)
    
gpt_execution.head()

,Category,Relation,Dataset,models,f1_score,Precision,Recall,Execution_Time
0,ChEMBL,View-Unionable,assays_both_0_30_ec_ev,bert-base-uncased,0.5,0.357143,0.833333,47.389767
1,ChEMBL,View-Unionable,assays_both_0_30_ec_ev,distilbert-base-uncased,0.5,0.357143,0.833333,30.821912
2,ChEMBL,View-Unionable,assays_both_0_30_ec_ev,sentence-transformers/all-MiniLM-L6-v2,0.4,0.285714,0.666667,24.912228
3,ChEMBL,View-Unionable,assays_both_0_30_ec_ev,albert-base-v2,0.4,0.285714,0.666667,41.796590
4,ChEMBL,View-Unionable,assays_both_0_30_ec_ev,facebook/bart-base,0.5,0.357143,0.833333,122.170266

In [22]:
path_folder=folder_path + "/Results_Experiments/GPT_results"
llama_execution=pd.DataFrame()
for name in ['ChEMBL','Magellan','TPC-DI','Wikidata']:
    df=pd.read_csv(os.path.join(path_folder,name+".csv"))
    llama_execution=pd.concat([llama_execution,df],axis=0)

llama_execution.head()

,Category,Relation,Dataset,models,f1_score,Precision,Recall,Execution_Time
0,ChEMBL,View-Unionable,assays_both_0_30_ec_ev,bert-base-uncased,0.5,0.357143,0.833333,47.389767
1,ChEMBL,View-Unionable,assays_both_0_30_ec_ev,distilbert-base-uncased,0.5,0.357143,0.833333,30.821912
2,ChEMBL,View-Unionable,assays_both_0_30_ec_ev,sentence-transformers/all-MiniLM-L6-v2,0.4,0.285714,0.666667,24.912228
3,ChEMBL,View-Unionable,assays_both_0_30_ec_ev,albert-base-v2,0.4,0.285714,0.666667,41.796590
4,ChEMBL,View-Unionable,assays_both_0_30_ec_ev,facebook/bart-base,0.5,0.357143,0.833333,122.170266

In [23]:
gpt.head()

,Model,Category,Dataset Name,noise,models,Relation Type,Relation_binaire,Source 1 Attribute Count,Source 2 Attribute Count,Common Attribute Count,...,F1 Score (Top 20),ngcd_at_20,F1 Score (Top 15),ngcd_at_15,F1 Score (Top 10),ngcd_at_10,F1 Score (Top 7),ngcd_at_7,F1 Score (Top 5),ngcd_at_5
0,bert-base-uncased,ChEMBL,assays_both_0_1_ac1_av,2,bert-base-uncased,View-Unionable,No Semantically,12,12,1,...,0.00,0.50,0.00,0.50,0.0,0.5,0.0,0.5,0.0,0.5
1,bert-base-uncased,ChEMBL,assays_both_0_1_ec_av,1,bert-base-uncased,View-Unionable,No Semantically,12,12,1,...,0.00,0.50,0.00,0.50,0.0,0.5,0.0,0.5,0.0,0.5
2,bert-base-uncased,TPC-DI,prospect_vertical_70_ac2_av,3,bert-base-uncased,Semantically-Joinable,Semantically,18,19,15,...,0.69,0.85,0.80,0.85,NaN,NaN,NaN,NaN,NaN,NaN
3,bert-base-uncased,TPC-DI,prospect_vertical_70_ec_ev,1,bert-base-uncased,Joinable,No Semantically,18,19,15,...,0.66,0.86,0.73,0.82,NaN,NaN,NaN,NaN,NaN,NaN
4,bert-base-uncased,ChEMBL,assays_horizontal_0_ac5_ev,6,bert-base-uncased,Unionable,No Semantically,23,23,23,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [24]:
llama.columns

Index(['Dataset', 'Model', 'Category', 'Relation', 'models', 'f1_score',
       'Precision', 'Recall', 'Noise_Level', 'Attributes_Source1',
       'Attributes_Source2', 'Common_Attributes', 'pourcentage_commun',
       'Relation_binaire', 'F1 Score Median', 'NDCG at Median', 'Dataset.1',
       'Model.1', 'Category.1', 'Relation.1', 'models.1', 'f1_score.1',
       'Precision.1', 'Recall.1', 'Execution_Time', 'Noise_Level.1',
       'Attributes_Source1.1', 'Attributes_Source2.1', 'Common_Attributes.1',
       'pourcentage_commun.1', 'Relation_binaire.1', 'F1 Score Median.1',
       'NDCG at Median.1'],
      dtype='object')

In [25]:
for index, row in llama.iterrows():
    model, category, dataset_name = row["Model"], row["Category"], row["Dataset"]
    
    # Filtrer le DataFrame llama_execution
    filtered = llama_execution[
        (llama_execution["Category"] == category) &
        (llama_execution["Dataset"] == dataset_name) &
        (llama_execution["models"] == model)
    ]

    # Vérifier si "Execution_Time" existe
    if not filtered.empty:
        time = filtered.loc[:, "Execution_Time"].values[0]  # Récupérer la première valeur correspondante
        
        # Mettre à jour la valeur dans le DataFrame llama
        llama.loc[
            (llama["Category"] == category) &
            (llama["Dataset"] == dataset_name) &
            (llama["Model"] == model),
            "Execution_Time"
        ] = time
llama.head()

,Dataset,Model,Category,Relation,models,f1_score,Precision,Recall,Noise_Level,Attributes_Source1,...,Recall.1,Execution_Time,Noise_Level.1,Attributes_Source1.1,Attributes_Source2.1,Common_Attributes.1,pourcentage_commun.1,Relation_binaire.1,F1 Score Median.1,NDCG at Median.1
0,assays_both_0_1_ac1_av,bert-base-uncased,ChEMBL,View-Unionable,bert-base-uncased,0.000000,0.000000,0.000000,2,12.0,...,0.000000,29.236403,2.0,12.0,12.0,1.0,8.0,No Semantically,0.000000,0.000000
1,assays_both_0_1_ec_av,bert-base-uncased,ChEMBL,View-Unionable,bert-base-uncased,0.000000,0.000000,0.000000,1,12.0,...,1.000000,25.510926,1.0,12.0,12.0,1.0,8.0,No Semantically,0.000000,0.000000
2,prospect_vertical_70_ac2_av,bert-base-uncased,TPC-DI,Semantically-Joinable,bert-base-uncased,0.909091,0.833333,1.000000,3,18.0,...,0.666667,111.567085,3.0,18.0,19.0,15.0,81.0,Semantically,0.909091,0.952307
3,prospect_vertical_70_ec_ev,bert-base-uncased,TPC-DI,Joinable,bert-base-uncased,0.787879,0.722222,0.866667,1,18.0,...,0.733333,113.652623,1.0,18.0,19.0,15.0,81.0,No Semantically,0.666667,0.799085
4,assays_horizontal_0_ac5_ev,bert-base-uncased,ChEMBL,Unionable,bert-base-uncased,0.739130,0.739130,0.739130,6,23.0,...,0.652174,104.434542,6.0,23.0,23.0,23.0,100.0,No Semantically,0.695652,0.745178

In [26]:
for index, row in gpt.iterrows():
    model, category, dataset_name = row["Model"], row["Category"], row["Dataset Name"]
    
    # Filtrer le DataFrame gpt_execution
    filtered = gpt_execution[
        (gpt_execution["Category"] == category) &
        (gpt_execution["Dataset"] == dataset_name) &
        (gpt_execution["models"] == model)
    ]

    # Vérifier si "Execution_Time" existe
    if not filtered.empty:
        time = filtered.loc[:, "Execution_Time"].values[0]  # Récupérer la première valeur correspondante
        
        # Mettre à jour la valeur dans le DataFrame gpt
        gpt.loc[
            (gpt["Category"] == category) &
            (gpt["Dataset Name"] == dataset_name) &
            (gpt["Model"] == model),
            "Execution_Time"
        ] = time
gpt.head()

,Model,Category,Dataset Name,noise,models,Relation Type,Relation_binaire,Source 1 Attribute Count,Source 2 Attribute Count,Common Attribute Count,...,ngcd_at_20,F1 Score (Top 15),ngcd_at_15,F1 Score (Top 10),ngcd_at_10,F1 Score (Top 7),ngcd_at_7,F1 Score (Top 5),ngcd_at_5,Execution_Time
0,bert-base-uncased,ChEMBL,assays_both_0_1_ac1_av,2,bert-base-uncased,View-Unionable,No Semantically,12,12,1,...,0.50,0.00,0.50,0.0,0.5,0.0,0.5,0.0,0.5,29.236403
1,bert-base-uncased,ChEMBL,assays_both_0_1_ec_av,1,bert-base-uncased,View-Unionable,No Semantically,12,12,1,...,0.50,0.00,0.50,0.0,0.5,0.0,0.5,0.0,0.5,25.510926
2,bert-base-uncased,TPC-DI,prospect_vertical_70_ac2_av,3,bert-base-uncased,Semantically-Joinable,Semantically,18,19,15,...,0.85,0.80,0.85,NaN,NaN,NaN,NaN,NaN,NaN,111.567085
3,bert-base-uncased,TPC-DI,prospect_vertical_70_ec_ev,1,bert-base-uncased,Joinable,No Semantically,18,19,15,...,0.86,0.73,0.82,NaN,NaN,NaN,NaN,NaN,NaN,113.652623
4,bert-base-uncased,ChEMBL,assays_horizontal_0_ac5_ev,6,bert-base-uncased,Unionable,No Semantically,23,23,23,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,104.434542

In [10]:
llama.to_csv(folder_path + "/Results_Experiments/llama_results/llama_with_time.csv",index=False)
gpt.to_csv(folder_path + "/Results_Experiments/GPT_results/gpt_with_time.csv",index=False)