In [69]:
import pandas as pd
import os

In [70]:
path= os.getcwd().split('/')
i=path.index('Alignment-of-schema-only-and-instance-only-data')
folder_path= "/".join(path[:i+1])

llama_ndcg=pd.read_csv(folder_path+"/Results_Experiments/llama_results/llama_with_time.csv")
gpt_ndcg=pd.read_csv(folder_path+"/Results_Experiments/GPT_results/gpt_with_time.csv")

In [71]:
ChEMBL=pd.read_csv("/Users/nourkired/Documents/Code/schema-matching/data_out_gpt/ChEMBL.csv")
Wikidata=pd.read_csv("/Users/nourkired/Documents/Code/schema-matching/data_out_gpt/Wikidata.csv")
Magellan=pd.read_csv("/Users/nourkired/Documents/Code/schema-matching/data_out_gpt/Magellan.csv")
TPC_DI=pd.read_csv("/Users/nourkired/Documents/Code/schema-matching/data_out_gpt/TPC-DI.csv")


gpt_f1=pd.concat([ChEMBL, Wikidata, Magellan, TPC_DI],axis=0)
gpt_f1.columns

Index(['Category', 'Relation', 'Dataset', 'models', 'f1_score', 'Precision',
       'Recall', 'Execution_Time'],
      dtype='object')

In [72]:
gpt=pd.merge(gpt_f1,gpt_ndcg,left_on=["models","Category","Dataset","Relation"],right_on=['Model', 'Category', 'Dataset Name','Relation Type'])
gpt.Execution_Time_x.mean(),gpt.Execution_Time_y.mean()

(180.73185886256684, 180.73185886256684)

In [73]:
gpt.columns=['Category', 'Relation', 'Dataset', 'models', 'f1_score', 'Precision',
       'Recall', 'Execution_Time', 'Model', 'Dataset Name', 'noise',
       'models_y', 'Relation Type', 'Relation_binaire',
       'Source 1 Attribute Count', 'Source 2 Attribute Count',
       'Common Attribute Count', 'pourcentage_commun', 'Precision Median',
       'Recall Median', 'F1 Score Median', 'ngcd_at_median',
       'Precision (Top n%)', 'Recall (Top n%)', 'F1 Score (Top n%)',
       'ngcd_at_n', 'Precision (Top 2n%)', 'Recall (Top 2n%)',
       'F1 Score (Top 2n%)', 'ngcd_at_2n', 'F1 Score (Top 25)', 'ngcd_at_25',
       'F1 Score (Top 20)', 'ngcd_at_20', 'F1 Score (Top 15)', 'ngcd_at_15',
       'F1 Score (Top 10)', 'ngcd_at_10', 'F1 Score (Top 7)', 'ngcd_at_7',
       'F1 Score (Top 5)', 'ngcd_at_5', 'Execution_Time_y']

In [85]:
gpt.groupby(["models"])[['f1_score']].agg(['mean', 'std']).round(2)

                                       f1_score
                                           mean   std
models
albert-base-v2                             0.52  0.29
bert-base-uncased                          0.54  0.29
distilbert-base-uncased                    0.54  0.28
facebook/bart-base                         0.52  0.29
gpt                                        0.58  0.26
roberta-base                               0.53  0.26
sentence-transformers/all-MiniLM-L6-v2     0.54  0.27

##  Llama

In [75]:
ChEMBL=pd.read_csv("/Users/nourkired/Documents/Code/schema-matching-llama/ChEMBL.csv")
Wikidata=pd.read_csv("/Users/nourkired/Documents/Code/schema-matching-llama/Wikidata.csv")
Magellan=pd.read_csv("/Users/nourkired/Documents/Code/schema-matching-llama/Magellan.csv")
TPC_DI=pd.read_csv("/Users/nourkired/Documents/Code/schema-matching-llama/TPC-DI.csv")

llama_f1=pd.concat([ChEMBL, Wikidata, Magellan, TPC_DI],axis=0)
llama_f1.columns

Index(['Category', 'Relation', 'Dataset', 'models', 'f1_score', 'Precision',
       'Recall', 'Execution_Time'],
      dtype='object')

In [76]:
llama=pd.merge(llama_f1,llama_ndcg,left_on=["models","Category","Dataset","Relation"],right_on=['Model', 'Category', 'Dataset','Relation'])
llama.Execution_Time_x.mean(),llama.Execution_Time_y.mean()
llama.columns=['Category', 'Relation', 'Dataset', 'models', 'f1_score',
       'Precision', 'Recall', 'Execution_Time', 'Model', 'models_y',
       'f1_score_y', 'Precision_y', 'Recall_y', 'Noise_Level',
       'Attributes_Source1', 'Attributes_Source2', 'Common_Attributes',
       'pourcentage_commun', 'Relation_binaire', 'F1 Score Median',
       'NDCG at Median', 'Dataset.1', 'Model.1', 'Category.1', 'Relation.1',
       'models.1', 'f1_score.1', 'Precision.1', 'Recall.1', 'Execution_Time_y',
       'Noise_Level.1', 'Attributes_Source1.1', 'Attributes_Source2.1',
       'Common_Attributes.1', 'pourcentage_commun.1', 'Relation_binaire.1',
       'F1 Score Median.1', 'NDCG at Median.1']

In [78]:
llama.groupby(["models"])[['f1_score']].agg(['mean', 'std']).round(2)

                                       f1_score
                                           mean   std
models
albert-base-v2                             0.48  0.25
bert-base-uncased                          0.47  0.25
distilbert-base-uncased                    0.46  0.26
facebook/bart-base                         0.42  0.23
gpt                                        0.50  0.25
roberta-base                               0.43  0.25
sentence-transformers/all-MiniLM-L6-v2     0.45  0.25

In [86]:
avg_execution_time = pd.DataFrame(llama.groupby("models")["Execution_Time"].mean().sort_values()).round(2)
avg_execution_time

                                        Execution_Time
models
sentence-transformers/all-MiniLM-L6-v2           65.67
albert-base-v2                                   82.11
gpt                                             101.80
distilbert-base-uncased                         107.82
bert-base-uncased                               166.94
roberta-base                                    177.49
facebook/bart-base                              305.62

In [87]:
avg_execution_time = pd.DataFrame(gpt.groupby("models")["Execution_Time"].mean().sort_values()).round(2)
avg_execution_time

                                        Execution_Time
models
sentence-transformers/all-MiniLM-L6-v2           68.77
distilbert-base-uncased                         104.65
albert-base-v2                                  150.72
bert-base-uncased                               151.94
roberta-base                                    174.82
gpt                                             181.51
facebook/bart-base                              432.64

In [79]:
avg_execution_time = pd.DataFrame(llama.groupby("Category")["Execution_Time"].mean().sort_values()).round(2)
avg_execution_time

          Execution_Time
Category
Magellan           76.75
ChEMBL            128.34
TPC-DI            144.89
Wikidata          930.10

In [80]:
avg_execution_time = pd.DataFrame(gpt.groupby("Category")["Execution_Time"].mean().sort_values()).round(2)
avg_execution_time

          Execution_Time
Category
Magellan          116.60
TPC-DI            139.84
ChEMBL            212.89
Wikidata          704.90

In [88]:
avg_execution_time = pd.DataFrame(gpt[(gpt.Category=="Magellan") & (gpt.models=="gpt")].groupby("Dataset")["Execution_Time"].mean().sort_values()).round(2)
avg_execution_time

                   Execution_Time
Dataset
amazon_google_exp           13.26
beeradvo_ratebeer           21.08
dblp_acm                    25.95
dblp_scholar                37.54
walmart_amazon              41.60
fodors_zagats               56.50
itunes_amazon              149.95

In [89]:
avg_execution_time = pd.DataFrame(llama[(llama.Category=="Magellan") & (llama.models=="gpt")].groupby("Dataset")["Execution_Time"].mean().sort_values()).round(2)
avg_execution_time

                   Execution_Time
Dataset
amazon_google_exp           15.94
beeradvo_ratebeer           23.60
dblp_acm                    29.28
dblp_scholar                29.73
walmart_amazon              35.87
fodors_zagats               52.37
itunes_amazon              124.15

In [81]:
gpt.Execution_Time.mean(),llama.Execution_Time.mean()

(180.73185886256684, 143.78542717393398)

In [82]:
llama.to_csv(folder_path + "/Results_Experiments/llama_results/llama_with_time.csv",index=False)
gpt.to_csv(folder_path + "/Results_Experiments/GPT_results/gpt_with_time.csv",index=False)